@font-face {
    font-family: lovelo;
    src: url(Lovelo_Line_Light.otf);
}

@font-face {
    font-family: Bariol;
    src: url(Bariol_Regular.otf);
}

body{
  padding: 0% 10% 10% 10%;
}

Header {
  z-index: 1;
  background-color: #2e3b4c;
  font-family: lovelo;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 35px;
  height: 6
  5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 2px 8px 6px black;
}

input{
  border-color: #dbe0e7;
  outline-offset: 30px;
  padding: 6px 0px 6px 0px;
  min-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.lien{
  color: rgba(251,178,50,1);
  line-height: 50px;
  text-decoration:none
}

.contenu{
  width: 80%;
  position: absolute;
  padding: 10% 20px 0px 40px;
  font-family: Bariol;
}

.inoutput{
  padding: 5%;
  display: flex;
  box-shadow: 2px 15px 15px 10px black;
  margin-top: 10px;
  margin-bottom: 45px;
}

#inoutput2{
  text-align: left;
  margin-bottom: 0px;
}

#compute{
	background-color: #2e3b4c;
	color: white;
	border-radius: 5px;
	width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
